.item-zoom {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.item-zoom img {
	vertical-align: top;
	max-width: 100%;
	transition: all 0.5s;
}

.item-zoom:hover img {
	transform: scale(1.1);
}

	.parallax-container .section {
	  width: 100%;
	}
  
  @media only screen and (max-width : 992px) {
	.parallax-container .section {
	  position: absolute;
	  top: 40%;
	}
	#index-banner .section {
	  top: 10%;
	}
  }
  
  @media only screen and (max-width : 600px) {
	#index-banner .section {
	  top: 0;
	}
  }
  
  .icon-block {
	padding: 0 15px;
  }
  .icon-block .material-icons {
	font-size: inherit;
  }
  
  footer.page-footer {
	margin: 0;
  }