  <div class="row" style="margin-top: 100px">
    <div class="col s12 m4 16">
      <div class="card">
        <div class="card-image item-zoom">
          <a href=""><img src="assets/img/liga_1.jpg" alt="" height="347px"></a>
        </div>
        <div class="card-content">
          <span class="card-title">Liga de futbol 7</span>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem a incidunt eaque nostrum praesentium, aspernatur voluptatem voluptates doloribus expedita perspiciatis hic neque excepturi corporis, ipsa, accusantium temporibus aut facilis dignissimos.</p>
        </div>
        <div class="card-action">
          <a href="" class="teal-text">More Detail</a>
          <a href="" class="teal-text">Teams</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4 16">
        <div class="card">
          <div class="card-image item-zoom">
            <a href=""><img src="assets/img/primera_copa.jpg" alt=""></a>
          </div>
          <div class="card-content">
            <span class="card-title">Primera Copa</span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem a incidunt eaque nostrum praesentium, aspernatur voluptatem voluptates doloribus expedita perspiciatis hic neque excepturi corporis, ipsa, accusantium temporibus aut facilis dignissimos.</p>
          </div>
          <div class="card-action">
            <a href="" class="teal-text">More Detail</a>
            <a href="" class="teal-text">Teams</a>
          </div>
        </div>
      </div>

      <div class="col s12  m4 16">
          <div class="card">
            <div class="card-image item-zoom">
              <a href=""><img src="assets/img/segunda_copa.jpg" alt=""></a>
            </div>
            <div class="card-content">
              <span class="card-title">Segunda Copa</span>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem a incidunt eaque nostrum praesentium, aspernatur voluptatem voluptates doloribus expedita perspiciatis hic neque excepturi corporis, ipsa, accusantium temporibus aut facilis dignissimos.</p>
            </div>
            <div class="card-action">
              <a href="" class="teal-text">More Detail</a>
              <a href="" class="teal-text">Teams</a>
            </div>
          </div>
        </div>

    </div>
